* {
    background-color: #E5DADA;
    font-family: 'Cutive Mono', monospace;
}

h1 {
    color: #02040F;
}

h2 {
    color: #02040F
}

p {
    color: #02040F
}

.crumbs {
    color: #002642;
    border: 4mm ridge #E59500;
    font-family: 'Cutive Mono', monospace;
}

#courselist {
    color: #002642;
    border: 4mm ridge #E59500;
    font-family: 'Cutive Mono', monospace;
}