* {
    background-color: #171123;
}

h1 {color: #F46036;

}

h2 {color: #5b85aa
}

p {color: #b1b6d2
}

body {color: #b1b6d2
}

.crumbs {
    color: #F46036;
    border: 4mm ridge #f5f3f4;
}

.crumbs {
    font-family: 'Major Mono Display', monospace;
}